[MASTER]
ignore=venv
jobs=1

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116   # Missing function docstring

[FORMAT]
max-line-length=88

[DESIGN]
max-args=10
max-locals=15